---
layout: default
title: "Contact"
---

TODO: Heb je een vraag? Liefst via mail, anders bellen; georganiseerd. Contact items. Telefoon, socials...
TODO: Geen uitroeptekens in titels

Eerst mail, dan telefoon, dan socials. 

<!-- Ondernemingsnummer en bankrekening in footer -->

{% capture contact_items %}
{% include contact-items.html %}
{% endcapture %}


{% include section-img-right.html
    title="Neem contact met ons op"
    text=contact_items
    img="assets/images/over-ons/organisatiestructuur-desktop.webp"
    img_mobile="assets/images/over-ons/organisatiestructuur-mobile.webp" %}