---
test: "Hello World" 
layout: default
title: "Alle Jongeren Op Kamp"
---

<style>
    body {
        background-color: #def5ff;
    }
</style>

<div class="container mt-5 d-flex justify-content-center" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row align-items-center justify-content-center g-4">

        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <img src="/assets/images/logo.webp" class="img-fluid" alt="AJOK logo">
        </div>
        
        <div class="col-12 col-md-8">
            <h1 class="display-1">AJOK</h1>
            <p class="lead">ALLE JONGEREN OP KAMP</p>
        </div>

    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Vakantiekampen voor maatschappelijk kwetsbare jongeren</h2>
            <p>Een onvergetelijke vakantie kunnen de mooiste herinneringen creëren. Helaas kunnen veel kinderen niet van een zorgeloze vakantie genieten. AJOK neemt als vzw grote stappen om hier verandering in te brengen, want, vakantie is simpelweg een basisrecht!</p>
        </div>
    </div>

    <div class="container" style="padding-bottom: 50px;">
        <div class="image-row">
            <img src="/assets/images/img1.jpg" class="img-fluid rounded fixed-height-img" alt="Image 1">
            <img src="/assets/images/img2.jpg" class="img-fluid rounded fixed-height-img" alt="Image 2">
            <img src="/assets/images/img3.jpg" class="img-fluid rounded fixed-height-img" alt="Image 3">
            <img src="/assets/images/img4.jpg" class="img-fluid rounded fixed-height-img" alt="Image 4">
        </div>
    </div>
    
</div>


{% include section-img-left.html 
    title="AJOK staat voor: <br>Alle Jongeren Op Kamp!" 
    text="AJOK biedt kinderen en jongeren, die om financiële of gedragsmatige redenen niet kunnen aansluiten bij het reguliere jeugdwerk, de mogelijkheid om toch een fantastische vakantie te beleven. Daar zetten wij, als team AJOK, ons dagelijks voor in."
    call_to_action="Over ons"
    url="/over-ons"
    img="assets/images/img5_crop.jpg"  %}

{% include section-img-right.html
    title="Zomer- en Paaskampen"
    text="Samen met een gemotiveerde groep vrijwilligers organiseren we vakantiekampen op maat. Momenteel bestaat ons aanbod uit een paaskamp en vier zomerkampen. Wil je meer weten? Volg de link onderaan om hier alles over te lezen."
    call_to_action="Op Kamp"
    url="/op-kamp" 
    img="assets/images/img6_crop.jpg" %}

{% include section-img-left.html 
    title="Vrijwilligers" 
    text="Onze vrijwilligers zijn de drijvende kracht achter AJOK. Ze helpen ons, niet alleen tijdens de vakantieperiode, maar ook het hele jaar door. Wil je je handen uit de mouwen steken en je aanmelden als vrijwilliger? Altijd welkom, want wij zijn steeds op zoek naar mensen die ons team kunnen vervoegen! We hebben verschillende functies waar je als vrijwilliger voor kunt kiezen, van kok tot verpleger, monitor tot manus. Neem een kijkje onderaan om te zien welke functie het beste bij jou past!"
    call_to_action="Vrijwilligers"
    url="/vrijwilligers"
    img="assets/images/img7_crop.jpg"  %}

{% include section-img-right.html
    title="Steun ons"
    text="Wil je je steentje bijdragen op een andere manier? Dat kan! AJOK steunen is namelijk mogelijk op allerlei manieren. Ontdek ze allemaal door op de volgende link te klikken."
    call_to_action="Steun"
    url="/steun" 
    img="assets/images/img8_crop.jpg" %}



