---
test: "Hello World" 
layout: default
title: "Alle Jongeren Op Kamp"
---

<!-- HOME INTRO -->
<div class="container p-2">
    <div class="row">
        <div class="col-12">
            <h2>Vakantiekampen voor jongeren in maatschappelijk kwetsbare situaties</h2>

            <img id="clouds" src="assets/images/artifacts/wolkjes.webp" loading="lazy"
            style="position: absolute; height: 120px; width: auto; right: -30px; z-index: -1;" />

            <p>{{ site.data.home.intro.description }}</p>
        
        </div>
    </div>
</div>

<!-- DYNAMIC SECTIONS (sorted by order) -->
{% assign section_keys = site.data.sections.home | keys | sort_natural %}
{% for key in section_keys %}
  {% assign section = site.data.sections.home[key] %}
  {% if section.type == "image-row" %}
    {% include image-row.html %}
  {% elsif section.type == "text-image-left" %}
    {% include section-img-left.html 
        title=section.title
        text=section.text
        call_to_action=section.call_to_action
        url=section.url
        img=section.img
        img_mobile=section.img_mobile %}
  {% elsif section.type == "text-image-right" %}
    {% include section-img-right.html
        title=section.title
        text=section.text
        call_to_action=section.call_to_action
        url=section.url
        img=section.img
        img_mobile=section.img_mobile %}
  {% endif %}
{% endfor %}
