---
layout: default
title: "Op Kamp: Hoe en wat?"
---
<!-- TODO:  -->
{% include section.html 
     title="Op kamp: Hoe en wat"
     text="TODO: Inleiding: wat kan je vinden op deze pagina<br><br>
     <a href='#afspraken' class='btn btn-danger'>Afspraken</a>
     <a href='#info' class='btn btn-danger'>Extra info</a>
     <!-- <a href='FORM_LINK' class='btn btn-danger'>Inschrijvingsformulier</a> -->
     "
%}


{% include section-img-left.html
    title="Afspraken"
    id="afspraken"
    text="<h4>In geval van nood</h4>
          <p>Het is belangrijk dat we tijdens de kampperiode (ook 's avonds en in het weekend) steeds een ouder, opvoeder of begeleider kunnen bereiken. Indien het welbevinden van de jongere(n) in het gedrang komt of een positieve kampwerking wordt verhinderd, verwachten we ook dat deze persoon in staat is de jongere op te halen en zelf verdere opvang te voorzien. Dankzij onze ervaren vrijwilligers die een grote draagkracht hebben, gebeurt het zelden dat we jongeren vroegtijdig naar huis terugsturen. Indien het toch noodzakelijk blijkt, zal dit een weloverwogen beslissing zijn van het kampteam, in samenspraak met de ouder, opvoeder of begeleider.</p>
 
          <h4>Inschrijvingsprocedure</h4>
          <p>Wanneer de jongere is ingeschreven, sturen we je via e-mail een bevestiging en een uitnodiging tot betaling. Zodra deze betaling gebeurd is, is de inschrijving officieel. Een paar weken voor het kamp van start gaat, ontvangt u een infobrochure over het specifieke kamp. Voor verdere vragen over de inschrijvingsvoorwaarden, neem gerust contact met ons op: info@ajokvzw.be</p>

          <h4>Wat als je toch niet meekan?</h4>
          <p>Elke zomer kijken heel wat jongeren uit naar een toffe vakantie bij AJOK. De plaatsen zijn helaas beperkt. Wanneer je een jongere inschrijft voor een AJOK-kamp, verwachten wij daarom dat hij of zij ook effectief meegaat. In het geval dat de jongere door omstandigheden toch niet kan deelnemen, vragen we dit zo snel mogelijk aan ons te melden. Op die manier kunnen we de vrijgekomen plaats aan een andere jongere geven. Indien de inschrijving (tenzij om dringende redenen) niet tijdig wordt geannuleerd, zien we ons genoodzaakt om vanaf twee weken voor de start van het kamp 20 procent van het inschrijvingsgeld aan te rekenen. Vanaf één week voor het kamp wordt 50 procent van het inschrijvingsgeld aangerekend.</p>
    "
    img="assets/images/img6_crop.webp"
    hide_artifacts=true %}
 
 
 
 {% include section-img-right.html
    title="Extra info"
    id="info"
    text="<h4>Kostprijs</h4>
          <p>Voor elk kamp rekenen we een verschillende prijs voor thuiswonende jongeren en jongeren die niet thuis wonen. Omdat we elke jongere de kans willen geven om met ons mee te gaan, voorzien we voor elk kamp ook een aantal plaatsen met korting. Deze korting wordt niet op voorhand bepaald, maar is afhankelijk van de mogelijkheden van het gezin. Als de jongere thuiswonend is en er moeilijkheden zijn met het inschrijvingsbedrag, kunt u ons altijd contacteren. Samen bepalen we wat haalbaar is.</p>
 
          <h4>Terugbetaling via ziekenfondsen</h4>
          <p>Via de meeste ziekenfondsen is het mogelijk een deel van het inschrijvingsbedrag teruggestort te krijgen. Contacteer ons gerust mocht u hier vragen over hebben.</p>
 
          <h4>Vervoer</h4>
          <p>Voor thuiswonende jongeren van alle leeftijden en voor alle niet-thuiswonende jongeren vanaf leeftijd HECTO (12 jaar) voorzien we de optie onder begeleiding van AJOK vrijwilligers met de trein naar het kamphuis te komen. Concreet zijn er hiervoor twee opstap- (en afstap)plaatsen waar u de kinderen/ jongeren naartoe kan brengen of afhalen. De eerste opstaphalte is in Gent (station Gent Sint Pieters) en de andere opstaphalte in Leuven (station Leuven). Daarnaast is het ook mogelijk om de jongere zelf naar het kamphuis te brengen. Voor jongeren die met de trein komen naar het station van Houyet, zorgt AJOK voor vervoer van het station naar het kamphuis. Voor de niet-thuiswonende jongeren vanaf 12 jaar vragen we hiervoor een extra bijdrage van €12 voor het treinticket. Dit bedrag wordt reeds in meerdering gebracht via de factuur, AJOK zorgt dus zelf voor de aankoop van de tickets.(Meer details volgen in de specifieke infobrochure.)</p>
          "
    img="assets/images/kampen/hecto-4.webp"
  %}
 
 