---
layout: default
title: "Op Kamp"
---

<!-- DYNAMIC SECTIONS (sorted by order) -->
{% assign section_keys = site.data.sections.camps | keys | sort_natural %}
{% for key in section_keys %}
  {% assign section = site.data.sections.camps[key] %}

  {% if section.type == "image-row" %}
    {% if section.img_type == "hills" %}
      <div class="row mt-auto">
          <img id="hills" src="assets/images/artifacts/heuveltjes.webp" style="padding: 0; width: 100%;" loading="lazy"/>
      </div>
    {% else %}
      {% include image-row.html %}
    {% endif %}

  {% elsif section.type == "camps-list" %}
    {% capture intro_kampen %}
    {{ site.data.camps.intro.text }}
    {% endcapture %}
    
    {% include section.html 
         title="Onze kampen"
         text=intro_kampen
    %}

    <div class="container scroll-animation" id="kampen">
        <div class="row justify-content-center">
            {% for item in site.data.kampen %}

                {% capture prijs %}€{{ item.prijs_thuiswonend }}*/€{{ item.prijs_niet_thuiswonend }}**{% endcapture %}

                {% include camp-card.html 
                    naam=item.name
                    leeftijd=item.leeftijd_kort
                    cancelled=item.cancelled
                    prijs=prijs%}
            {% endfor %}
        </div>
    </div>

  {% elsif section.type == "camps-details" %}
    {% assign type = 'right' %}

    {% for item in site.data.kampen %}

        {% if item.cancelled %}
            {% continue %}
        {% endif %}

        {% if type == 'left' %}
            {% assign type = 'right' %}
        {% else %}
            {% assign type = 'left' %}
        {% endif %}

        {% include camp-info.html 
            title=item.name
            description=item.description
            datum = item.datum
            datum_vrijwilligers = item.datum_vrijwilligers
            prijs_thuiswonend = item.prijs_thuiswonend
            prijs_niet_thuiswonend = item.prijs_niet_thuiswonend
            leeftijd = item.leeftijd
            img=item.img
            img_mobile=item.img_mobile
            img_list=item.img_list
            img_list_mobile=item.img_list_mobile
            locatie=item.locatie
            form_id=item.form_id
            form_button_text=item.form_button_text
            type=type  %}

    {% endfor %}

  {% elsif section.type == "locations-list" %}
    {% assign type = 'right' %}

    {% for item in site.data.locaties %}

        {% if type == 'left' %}
            {% assign type = 'right' %}
        {% else %}
            {% assign type = 'left' %}
        {% endif %}

        {% include locatie-info.html 
            locatie=item
            type=type  %}

    {% endfor %}

  {% endif %}

{% endfor %}
