---
layout: default
title: "Op Kamp"
---

{% include section.html 
     title="Vakantieaanbod"
     text="<p>
        AJOK organiseert vakantiekampen voor jongeren van 6 tot 17 jaar 
        die geen aansluiting vinden bij het reguliere jeugdwerk. Dit kan 
        om verschillende redenen zoals financiële of gedragsproblemen zijn. 
        We bieden vier zomerkampen en één paaskamp aan. Elk jaar kiezen we 
        een thema voor ons programma - dit jaar is het thema 'Feestdagen'! 
        Wil je meer weten over onze vakantiemogelijkheden? Bekijk hieronder ons aanbod!
    </p>
    
    <a href='op-kamp#kampen' class='btn btn-danger'>Kamp overzicht</a>
    <a href='op-kamp#verblijf' class='btn btn-danger'>Vakantieverblijf</a>" %}

<div class="container">
    <div class="row justify-content-center">
        {% for item in site.data.kampen %}

            {% capture prijs %}{{ item.prijs_thuiswonend }}*/{{ item.prijs_niet_thuiswonend }}**{% endcapture %}

            {% include camp-card.html 
                naam=item.name
                leeftijd=item.leeftijd_kort
                prijs=prijs%}
        {% endfor %}
    </div>
    <!-- <div class="row justify-content-center">
        {% include camp-card.html 
            naam="PAASKAMP" 
            leeftijd="6-9 JAAR" 
            prijs="€70*/€85**" %}
        {% include camp-card.html 
            naam="PICO" 
            leeftijd="6-8 JAAR" 
            prijs="€80*/€100**" %}
        {% include camp-card.html 
            naam="NANO" 
            leeftijd="9-11 JAAR" 
            prijs="€90*/€110*" %}
    </div>

    <div class="row justify-content-center">
        {% include camp-card.html 
            naam="HECTO" 
            leeftijd="12-13 JAAR" 
            prijs="€90*/€110**" %}
        {% include camp-card.html 
            naam="GIGA" 
            leeftijd="14-16 JAAR" 
            prijs="€90/€110*" %}
        {% include camp-card.html 
            naam="OP SCHOK" 
            leeftijd="16-17 JAAR" 
            prijs="€75/€95*" %}
    </div> -->
</div>


<div class="row mt-auto">
    <img id="hills" src="assets/images/heuveltjes.png" style="padding: 0; width: 100%;"/>
</div>



{% include section-img-left.html 
    title="kamphuis la laiterie" 
    text="Om onze deelnemers een hartelijk verblijf te bieden kiezen
    we ervoor meeste van onze kampen te houden in het rustige Wiesme,
    dat dichtbij het bedevaartsoord Beauraing ligt.
    </br></br>
    La Laiterie is een volledig uitgerust kamphuis met een
    capaciteit van 100 personen. Het kamphuis is gevestigd in
    een oude melkfabriek en ligt in een groene omgeving
    waarin de deelnemers zich kunnen uitleven. In de
    speelweiden en -bossen kunnen kinderen en tieners he-lemaal losgaan. Plaats genoeg!
    </br></br>
    Daarnaast zijn er in de nabije omgeving veel
    recreatiemogelijkheden. Denk maar aan wandelen,
    mountainbiken, speleologie, kanoën, abseilen, vissen en ga
    zo maar door. Plezier gegarandeerd!
    "
    img="assets/images/kampen/kamphuis-laiterie.jpg"
    img_mobile="assets/images/kampen/kamphuis-laiterie-mobile.jpg" %}



{% for item in site.data.kampen %}

    {% assign type = 'right' %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}
        {% assign type = 'left' %}
    {% endif %}

    {% include camp-info.html 
        title=item.name
        description=item.description
        datum = item.datum
        prijs_thuiswonend = item.prijs_thuiswonend
        prijs_niet_thuiswonend = item.prijs_niet_thuiswonend
        leeftijd = item.leeftijd
        img=item.img
        img_mobile=item.img_mobile
        type=type  %}

  {% endfor %}