---
layout: default
title: "Op Kamp: Hoe en wat?"
---

{% include section.html 
     title="Op kamp: Hoe en wat"
     text="
     <a href='#afspraken' class='btn btn-danger'>Afspraken</a>
     <a href='#kosten' class='btn btn-danger'>Kosten</a>
     <a href='#vervoer' class='btn btn-danger'>Vervoer</a>
     <!-- <a href='FORM_LINK' class='btn btn-danger'>Inschrijvingsformulier</a> -->
     "
%}


{% include section-img-left.html
    title="Afspraken"
    id="afspraken"
    text="
          <h4>Inschrijvingsprocedure</h4>
          <p>Wanneer de jongere is ingeschreven, sturen we je via e-mail een 
            bevestiging en een uitnodiging tot betaling. Zodra deze betaling 
            gebeurd is, is de inschrijving officieel. Een paar weken voor het 
            kamp van start gaat, ontvang je een infobrochure over het specifieke 
            kamp.</p>
          
          <h4>In geval van nood</h4>
          <p>Tijdens het kamp (ook 's avonds en in het weekend) moeten we altijd 
             een ouder, opvoeder of begeleider kunnen bereiken. Als het welzijn 
             van de jongere in gevaar komt of een positieve kampwerking wordt 
             verhinderd, verwachten we dat deze persoon de jongere kan ophalen. 
             Dankzij onze ervaren vrijwilligers gebeurt het zelden dat jongeren 
             vroegtijdig naar huis moeten. Als dat toch nodig is, beslist het 
             kampteam dit in overleg met de ouder, opvoeder of begeleider. 
            </p>

<!--TODO: Mail dynamisch/klikbaar-->
          <h4>Wat als je toch niet meekan?</h4>
          <p>Heel wat jongeren kijken elke zomer uit naar een toffe vakantie bij 
            AJOK, maar de plaatsen zijn beperkt. Schrijf je een jongere in, dan 
            verwachten we dat hij/zij ook effectief deelneemt. Kan de jongere 
            onverwacht niet mee, meld dit zo snel mogelijk door ons te mailen via info@ajokvzw.be. Zo kunnen we de 
            plaats aan iemand anders geven.
            </br></br>
            Bij annulering meer dan twee weken voor de start van het kamp 
            betalen we het volledige inschrijvingsgeld terug. Bij annulering 
            minder dan twee weken op voorhand bekijken we samen met de 
            verantwoordelijke hoeveel geld wordt ingehouden, afhankelijk van de 
            reden. Bij no-show zonder verwittiging houden we 50% van het 
            inschrijvingsgeld in.
            </br></br>
            Het inschrijvingsgeld moet betaald zijn voor de start van het kamp
            </p>
    "
    img="assets/images/img6_crop.webp"
    hide_artifacts=true %}
 
 
 
 {% include section-img-right.html
    title="Kosten"
    id="kosten"
    text="<p>Elk kamp heeft een prijs voor thuiswonende en niet-thuiswonende 
            jongeren. Voor wie het inschrijvingsbedrag moeilijk haalbaar is, kunnen we een 
            betalingsplan op maat voorzien. Neem gerust contact op via info@ajokvzw.be, dan zoeken 
            we samen een oplossing.</p>
 
          <h4>Terugbetaling via ziekenfondsen</h4>
          <p>Via de meeste ziekenfondsen is het mogelijk een deel van het inschrijvingsbedrag teruggestort te krijgen. Je kan via het ziekenfonds een formulier hiervoor opvragen. Dit kunnen wij voor jou invullen. Contacteer ons gerust mocht je hier vragen over hebben.</p>
          "
    img="assets/images/kampen/hecto-4.webp"
  %}
 

 <!-- TODO: Dit een section maken -->
  <h4 id='vervoer'>Vervoer</h4>
          <p>Voor de zomerkampen kunnen thuiswonende jongeren van alle leeftijden 
            en niet-thuiswonende jongeren vanaf 12 jaar onder begeleiding van 
            AJOK-vrijwilligers met de trein naar het kamphuis reizen. Er zijn
             twee opstap- en afstapplaatsen: station Gent-Sint-Pieters en station 
             Leuven. Voor niet-thuiswonende jongeren vanaf 12 jaar wordt €15 extra 
             aangerekend voor het treinticket. Dit bedrag komt op de factuur, en 
             AJOK regelt de tickets.
            </br></br>
            Voor het herfstkamp spreken we af aan station Sint-Niklaas. Van 
            daaruit zorgt AJOK voor vervoer naar het kamphuis. 
            </br></br>
            Meer info hierover vind je in het kampboekje. Dit ontvang je enkele weken voor de start van het kamp. 
            </p>
 