---
layout: default
title: "Op Kamp"
---
<!-- TODO: Bij praktische info kamp: Waar? <knop naar kamp> -->
{% include section.html 
     title="Onze kampen"
     text="<p>
        AJOK organiseert vakantiekampen voor jongeren van 6 tot 17 jaar 
        die geen aansluiting vinden bij het reguliere jeugdwerk. Dit kan 
        om verschillende redenen zoals financiële- of gedragsproblemen zijn. 
        We bieden vier zomerkampen, een herfstkamp en een paaskamp aan. Elk jaar kiezen we 
        een thema voor ons programma - denk maar aan themas zoals 'Feestdagen', 'Reis rond de wereld' of 'Superhelden'! 
        Wil je meer weten over onze vakantiemogelijkheden? Bekijk hieronder ons aanbod!
        </p>"
%}


<div class="container scroll-animation" id="kampen">
    <div class="row justify-content-center">
        {% for item in site.data.kampen %}

            {% capture prijs %}€{{ item.prijs_thuiswonend }}*/€{{ item.prijs_niet_thuiswonend }}**{% endcapture %}

            {% include camp-card.html 
                naam=item.name
                leeftijd=item.leeftijd_kort
                prijs=prijs%}
        {% endfor %}
    </div>
</div>

<div class="row mt-auto">
    <img id="hills" src="assets/images/artifacts/heuveltjes.webp" style="padding: 0; width: 100%;"/>
</div>





{% for item in site.data.kampen %}

    {% assign type = 'left' %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}
        {% assign type = 'right' %}
    {% endif %}

    {% include camp-info.html 
        title=item.name
        description=item.description
        datum = item.datum
        prijs_thuiswonend = item.prijs_thuiswonend
        prijs_niet_thuiswonend = item.prijs_niet_thuiswonend
        leeftijd = item.leeftijd
        img=item.img
        img_mobile=item.img_mobile
        img_list=item.img_list
        img_list_mobile=item.img_list_mobile
        type=type  %}

  {% endfor %}

  
{% include section-img-right.html 
    title="Kamphuis la laiterie"
    id="verblijf"
    text="Om onze deelnemers een hartelijk verblijf te bieden kiezen
        we ervoor meeste van onze kampen te houden in het rustige Wiesme,
        dat dichtbij het bedevaartsoord Beauraing ligt.
        </br></br>
        La Laiterie is een volledig uitgerust kamphuis met een
        capaciteit van 100 personen. Het kamphuis is gevestigd in
        een oude melkfabriek en ligt in een groene omgeving
        waarin de deelnemers zich kunnen uitleven. In de
        speelweiden en -bossen kunnen kinderen en tieners helemaal losgaan. Plaats genoeg!
        </br></br>
        Daarnaast zijn er in de nabije omgeving veel
        recreatiemogelijkheden. Denk maar aan wandelen,
        mountainbiken, speleologie, kanoën, abseilen, vissen en ga
        zo maar door. Plezier gegarandeerd!
        "
    img="assets/images/kampen/kamphuis-laiterie.webp" %}