---
layout: default
title: "Over ons"
---

{% assign mail_item = site.data.contact | where: "id", "mail" | first %}
{% assign mailadres = mail_item.description %}
{% assign mail = "<a href='mailto:" | append: mailadres | append: "'>" | append: mailadres | append: "</a>" %}

<!-- DYNAMIC SECTIONS -->
{% for item in site.data.sections.about %}
  {% assign section = item[1] %}
  {% if section.type == "text-image-left" %}
    {% include section-img-left.html 
        title=section.title
        text=section.text
        call_to_action=section.call_to_action
        url=section.url
        img=section.img
        img_mobile=section.img_mobile %}
  {% elsif section.type == "text-image-right" %}
    {% include section-img-right.html
        title=section.title
        text=section.text
        call_to_action=section.call_to_action
        url=section.url
        img=section.img
        img_mobile=section.img_mobile %}
  {% elsif section.type == "rvb-cards" %}
    {% capture rvb_text %}{{ section.text }}{% endcapture %}
    <div class="p-5 scroll-animation" id="Vrijwilligerfuncties">
      <div class="row justify-content-center">
          {% for item in site.data.rvb %}
          {% assign image = item.img | default: "assets/images/rvb/unknown.jpg" %}
          {% include image-card.html 
              label=item.naam
              image=image
              sublabel=item.functie %}
            {% endfor %}
      </div>
    </div>
    <div class="bg-primary pt-1 pb-1">
    {% include section.html 
        title=section.title
        text=rvb_text
        hide_artifacts=true
    %}
    </div>
  {% endif %}
{% endfor %}

    img="assets/images/img1.jpg" %}


{% capture privacy_text %}
AJOK vzw hecht veel belang aan de bescherming van jouw persoonsgegevens en privacy. In deze 
privacyverklaring willen we heldere en transparante informatie geven over welke gegevens we 
verzamelen en hoe deze verwerkt worden.<br><br>

AJOK vzw verzamelt persoonlijke gegevens die relevant zijn voor onze werking en gebruikt deze 
ook om jou op de hoogte te houden van onze activiteiten. Je kan op elk moment de persoonlijke 
gegevens die AJOK vzw over jou verwerkt inzien, laten verbeteren of verwijderen. Je hebt het 
recht 'vergeten' te worden. Mocht je nog vragen of een klacht hebben over de verwerking van jouw 
persoonsgegevens dan kan je steeds met ons contact opnemen via {{ mail }}. <br><br>

Je hebt altijd het recht een klacht in te dienen bij de Privacycommissie indien je van mening 
bent dat jouw gegevens foutief worden behandeld.<br><br>

Onze volledige privacyverklaring voor vrijwilligers lees je <a href="assets/docs/PrivacyVrijwilligers.pdf">hier</a>.<br><br>

Onze volledige privacyverklaring voor diensten en jongeren lees je <a href="assets/docs/PrivacyJongeren.pdf">hier</a>.
{% endcapture %}

{% include section-img-left.html
    title="Privacyverklaring van AJOK vzw"
    text=privacy_text
    img="assets/images/img8_crop.webp"
    img_mobile="assets/images/img8_mobile.webp" %}


{% capture insurance_text %}
AJOK is verzekerd bij AG Insurance.
Voor meer info, stuur een mailtje naar: {{ mail }}.
{% endcapture %}

{% include section-img-right.html
    title="Verzekering"
    text=insurance_text
    img="assets/images/vrijwilligers/kampdata-desktop-2.jpg"
    img_mobile="assets/images/vrijwilligers/kampdata-mobile-2.jpg" %}