---
layout: default
title: "Over ons"
---

<!-- TODO: Deeltje over de RVB erbij (ipv raad van bestuur) -->
 <!-- Focus op wie zijn de vrijwilligers -->


 {% include section-img-right.html
    title="Onze Missie"
    text="Bij AJOK streven we ernaar om kinderen en jongeren uit maatschappelijk kwetsbare situaties een waardevolle en
        toegankelijke vakantie-ervaring te bieden. We trachten een positieve en veilige omgeving te creëren waarin kinderen en
        jongeren spontaan kunnen groeien door samen te ontdekken en te beleven.
        </br></br>
        Je veilig en welkom voelen is een must om je ten volle te kunnen ontplooien. Kinderen die zich veilig voelen durven de
        ruimte te nemen om te groeien. Daarom houden we ons aan helder afspraken en een duidelijke kampstructuur. Ook stimuleren
        we jongeren om initiatief te nemen, hun eigen ideeën aan te bieden en creatief bezig te zijn!"
    img="assets/images/over-ons/missie.webp"
    img_mobile="assets/images/over-ons/missie-mobile.webp" %}


{% include section-img-left.html
    title="Onze Visie"
    text="AJOK doet er alles aan om kinderen met een zorgnood op vakantiekamp te kunnen verwelkomen. We maken ons aanbod
        toegankelijk voor maatschappelijk kwetsbare jongeren door de vakantiekampen financieel, inhoudelijk en organisatorisch
        af te stemmen op hun situatie. Zo werken we alle drempels weg.
        </br></br>
        We willen blijven groeien als vzw om zoveel mogelijk maatschappelijk kwetsbare kinderen een onvergetelijke vakantie te
        bieden. Daarom willen we binnen vijf jaar ons vakantieaanbod uitbreiden naar twee paaskampen, zes zomerkampen en één
        herfstkamp, zodat we ook aan de nieuwe beleidslijnen kunnen voldoen."
    img="assets/images/over-ons/visie-desktop.webp"
    img_mobile="assets/images/over-ons/visie-mobile.webp" %}


{% include section-img-right.html
    title="Onze Vrijwilligers"
    text="TODO"
    img="assets/images/over-ons/wie-zijn-we-desktop.webp"
    img_mobile="assets/images/over-ons/wie-zijn-we-mobile.webp" %}



{% include section-img-right.html
    title="Onze Raad Van Bestuur"
    text="TODO"
    img="assets/images/over-ons/wie-zijn-we-desktop.webp"
    img_mobile="assets/images/over-ons/wie-zijn-we-mobile.webp" %}



<!-- Mag weg -->
<!-- {% include section-img-left.html
    title="Organisatiestructuur"
    text="Als vrijwilliger kan je op verschillende manieren actief zijn. Hoe intensief je je als vrijwilliger inzet, is
        afhankelijk van je motivatie en tijdschema. We houden ook rekening met je persoonlijke sterktes en interesses.
        </br></br>
        AJOK bestaat uit kamp- en hoofdleiders, crewleden en stuurgroepen:
        <ul>
            <li><b>Kamp- en hoofdleiders</b> zetten zich gedurende het jaar voor het organiseren van vakantiekampen.</li>
            <li><b>Crewleden</b> doen minstens twee dagen per jaar mee.</li>
            <li><b>Stuurgroepen</b> werken samen om het project van begin tot einde te verwezenlijken. </li>
        </ul>
        "
    img="assets/images/over-ons/organisatiestructuur-desktop.webp"
    img_mobile="assets/images/over-ons/organisatiestructuur-mobile.webp" %} -->


<!-- {% capture contact_items %}
{% include contact-items.html %}
{% endcapture %}

{% include section-img-right.html
    title="Neem contact met ons op!"
    text=contact_items
    img="assets/images/over-ons/contact-desktop.webp"
    img_mobile="assets/images/over-ons/contact-mobile.webp" %} -->

