---
layout: default
title: "Steun"
---

{% assign rekeningnummer_item = site.data.contact | where: "name", "Rekeningnummer" | first %}
{% assign rekeningnummer = rekeningnummer_item.description %}

{% include section.html
title="Steun ons!"
text="<p>
    Wil jij ons helpen om nog meer fijne vakantiekampen te organiseren? Je kunt op verschillende manieren
    je steentje bijdragen. Klik op de link voor meer informatie.
</p>

<a href='#word%20vrijwilliger' class='btn btn-danger'>Lees meer</a>" %}

<div class="bg-orange pt-1 pb-1"> 
    {% include image-row.html %}
</div>

{% include section-img-right.html
title="Word vrijwilliger"
text="Ben jij op zoek naar een leuke manier om je te engageren?
Word dan vrijwilliger bij AJOK! We staan steeds klaar om extra
helpende handen te verwelkomen. Op het
inschrijvingsformulier kan je uit meerdere vrijwilligersfuncties
kiezen. Ben je flexibel qua periode? Geef die dan zeker
helemaal door! Volg de link onderaan om je aan te melden als
vrijwilliger voor onze kampen."

call_to_action="Meld je aan!"
url="steun"
img="assets/images/steun-ons/word-vrijwilliger-desktop.jpg"
img_mobile="assets/images/steun-ons/word-vrijwilliger-mobile.jpg" %}

{% capture peter_meter_text %}
Je kan AJOK ook steunen met een bijdrage van 50
euro om het eten van een kind op kamp te dekken.
Dan word je officiël de peter of meter van een
deelnemer en krijgt je in ruil daarvoor een certificaat,
een vermelding op onze website (indien gewenst), en
een kaartje van op kamp.

<h4>Hoe?</h4>
<ol>
    <li>Maak het bedrag over op ons rekeningnummer: {{ rekeningnummer }}</li>
    <li>Vermeld als mededeling 'peter/meter AJOK vzw - naam - e-mailadres'</li>
    <li>Nadat we het bedrag ontvangen hebben, nemen we contact met u op voor verdere gegevens</li>
</ol>
{% endcapture %}


{% include section-img-left.html
title="Word peter of meter"
text=peter_meter_text
img="assets/images/steun-ons/peter-meter.jpg"
img_mobile="assets/images/steun-ons/peter-meter-mobile.jpg" %}

{% capture doe_een_gift_text %}
Je kan ons ook steunen door een gift te doen. Geef jouw
gewenste bedrag en stort het op ons rekeningnummer {{ rekeningnummer }}.
<br><br>
Een gift gedaan? Laat het ons zeker weten, dan vermelden we
het op onze site. We zorgen ervoor dat we met dit geld nog
meer blije gezichten op onze kampen zien!
{% endcapture %}

{% include section-img-right.html
title="Doe een gift"
text=doe_een_gift_text
img="assets/images/steun-ons/gift.jpg"
img_mobile="assets/images/steun-ons/gift-mobile.jpg" %}

{% include section-img-left.html
title="Trooper"
text="Wist je dat je AJOK ook kan helpen als je inkopen doet? AlsF
je bij Trooper winkelt, schenk je automatisch een klein
bedrag aan ons - en dat zonder extra kosten! Hieronder
zetten we alles op een rijtje voor je:
<ol>
    <li>Ga naar <a href='https://www.trooper.be/nl/trooperverenigingen/ajokvzw/''>trooper.be</a> of klik op de balk
        onderaan</li>
    <li>Bezoek via onze trooperpagina jouw favoriete webshops</li>
    <li>Voor iedere aankoop die je doet via onze trooperpagina,
        gaat er een deel van het aankoopbedrag naar AJOK vzw</li>
</ol>"

call_to_action="Trooper: AJOK"
url="https://www.trooper.be/nl/trooperverenigingen/ajokvzw/"
img="assets/images/steun-ons/trooper-desktop.png"
img_mobile="assets/images/steun-ons/trooper.png" %}