---
layout: default
title: "Steun"
---

{% assign rekeningnummer_item = site.data.contact | where: "name", "Rekeningnummer" | first %}
{% assign rekeningnummer = rekeningnummer_item.description %}

{% assign mail_item = site.data.contact | where: "id", "mail" | first %}
{% assign mailadres = mail_item.description %}
{% assign mail = "<a href='mailto:" | append: mailadres | append: "'>" | append: mailadres | append: "</a>" %}


{% include section.html
title="Steun ons"
text="Wil jij ons helpen de kinderen een fijn kamp te bezorgen? Je kan op verschillende manieren je steentje bijdragen."
 %}


<div class="bg-orange pt-1 pb-1"> 
    {% include image-row.html %}
</div>

<!-- Trooper eerst, -->

{% include section-img-right.html
    title="Trooper"
    text="Als je online koopt, kan je ons steunen zonder dat je zelf meer moet betalen. Als je winkelt via Trooper, schenk je een klein bedrag aan ons - en dat zonder extra kosten! 
        Hieronder leggen we even uit hoe je dat kan doen:
    
        <ol>
            <li>Ga naar <a href='https://www.trooper.be/nl/trooperverenigingen/ajokvzw/'>www.trooper.be</a> of klik op de knop
                onderaan</li>
            <li>Zoek naar onze vereniging: AJOK vzw</li>
            <li>Kies de webshop waar je je inkopen wil doen</li>
            <li>Voor iedere aankoop die je doet, gaat er nu een deel van het bedrag naar AJOK vzw</li>
        </ol>"
    call_to_action="Trooper"
    url="https://www.trooper.be/nl/trooperverenigingen/ajokvzw/"
    img="assets/images/steun-ons/trooper-desktop.webp"
    img_mobile="assets/images/steun-ons/trooper.webp" %}

{% capture doe_een_gift_text %}
Je kan ons ook steunen door een gift te doen. Geef jouw gewenste bedrag en stort het op ons 
rekeningnummer {{ rekeningnummer }}. Vermeld als mededeling <i>'gift - naam'</i>.
</br></br>
Heb je dit jaar 40 euro of meer aan AJOK gegeven? AJOK is erkend om fiscale attesten uit te reiken 
voor giften vanaf 40 euro, waarmee je recht hebt op een belastingvermindering van 45%. Daarvoor 
hebben we enkele gegevens van je nodig en moet je ons dus zeker even mailen via {{ mail }} met 
als onderwerp <i>'aanvraag fiscaal attest'</i>.
</br></br>
Al jouw geld gaat naar blije gezichten op kamp!
</br></br>
Natuurlijk hebben we niet enkel geld nodig. Je kan ook altijd sponsoren in natura. Dingen die we 
kunnen gebruiken op kamp zijn bv. droge voeding, drinken, kampeermateriaal, spelmateriaal,... 
Gelieve hiervoor contact op te nemen via {{ mail }}. 
{% endcapture %}

{% include section-img-left.html
    title="Doe een gift"
    id="doe-een-gift"
    text=doe_een_gift_text
    img="assets\images\steun-ons\doe-een-gift-desktop.jpeg"
    img_mobile="assets\images\steun-ons\doe-een-gift-mobile.jpeg" %}

    
{% capture peter_meter_text %}
Je kan AJOK ook steunen door peter of meter te worden. Door 67 euro te steunen, maak je het 
financieel mogelijk voor AJOK om één kind mee op kamp te nemen. In ruil daarvoor krijg je een 
certificaat en een vermelding op onze website (indien gewenst). 

<h4>Hoe doe je dit?</h4>
Maak 67 euro over aan AJOK vzw via ons rekeningnummer {{ rekeningnummer }}. Vermeld als mededeling 
<i>'peter/meter - naam'</i>. Stuur ons vervolgens een mail via {{ mail }} met als onderwerp 
<i>'peter-/meterschap'</i> zodat we je een certificaat kunnen bezorgen.
<br><br>
Ook hiervoor kan je een fiscaal attest ontvangen (zie uitleg bij <a href="#doe-een-gift">'Doe een gift'</a>).
<br><br>
Al jouw geld gaat naar blije gezichten op kamp! Alvast heel erg bedankt daarvoor!

{% endcapture %}

{% include section-img-right.html
    title="Word peter of meter"
    text=peter_meter_text
    img="assets/images/steun-ons/peter-meter-original.jpg" %}


{% capture word_sponsor_text %}
Wil je AJOK sponsoren met een actie of via je vereniging of onderneming? Neem dan contact met ons op via {{ mail }}. 
{% endcapture %}

{% include section-img-left.html
    title="Word sponsor"
    text=word_sponsor_text
    img="assets/images/steun-ons/word-sponsor.jpeg"
    img_mobile="assets/images/steun-ons/word-sponsor-mobile.jpeg" %}




{% capture peter_meter_text %}
Dankzij de steun van onze meters en peters kunnen heel wat jongeren dit jaar weer een geweldig kamp beleven!
<br><br>
    {% for item in site.data.peter_meters %}
        {{ item.naam }}{% if forloop.last == false %} &bull;{% endif %}
    {% endfor %}
{% endcapture %}

{% include section-img-right.html
        title="Dank je wel, meters en peters"
        text=peter_meter_text
        id="dankje-peter-meter"
        img="assets/images/kampen/pico.webp"
        img_mobile="assets/images/kampen/pico_mobile.webp" %}


{% capture sponsor_bedrijven_text %}
<ul>
    {% for item in site.data.sponsors_bedrijven %}
    <li>{{ item.naam }}</li>
    {% endfor %}
</ul>
{% endcapture %}

{% include section-img-left.html
    title="Dank je wel, bedrijven en organisaties"
    text=sponsor_bedrijven_text
    img="assets/images/steun-ons/bedrijven-original.jpeg"
    img_mobile="assets/images/steun-ons/bedrijven-mobile.jpeg" %}



{% comment %}
<div class="container scroll-animation" id="bedrijven-organisaties" style="padding: 20px; width: 100%; text-align: center;">

    <h2 class="text-uppercase font-italic black-line-below" style="margin-top: 40px; margin-bottom: 40px;">Bedrijven en organisaties</h2>
    
    <img id="clouds" src="assets/images/artifacts/wolkjes.webp" class="opacity-sm-80" loading="lazy"
            style="position: absolute; height: 120px; width: auto; right: -30px; z-index: -1;" />

            <div class="masonry-container" style="width: fit-content; display: block;">
                {% for werkjaar in site.data.sponsors %}
                    <div class="masonry-item">
                        {% capture werkjaar_text %}<p style="font-weight: bold;">{{ werkjaar.name }}</p>{% endcapture %}
            
                        {% include sponsor-card.html 
                            description=werkjaar_text
                            img=werkjaar.img  %}
            
                        {% for item in werkjaar.sponsors %}
                            {% include sponsor-card.html 
                                description=item.description
                                img=item.img  %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
</div>
{% endcomment %}

