---
layout: default
title: "Vrijwilligers"
---

{% assign form_item_zomer = site.data.forms | where: "id", "vrijwilligers_zomer" | first %}
{% assign form_zomer=form_item_zomer.link %}

{% assign form_item_pasen = site.data.forms | where: "id", "vrijwilligers_pasen" | first %}
{% assign form_pasen=form_item_pasen.link %}

{% assign form_item_herfst = site.data.forms | where: "id", "vrijwilligers_herfst" | first %}
{% assign form_herfst=form_item_herfst.link %}

{% assign mail_item = site.data.contact | where: "id", "mail" | first %}
{% assign mailadres = mail_item.description %}
{% assign mail = "<a href='mailto:" | append: mailadres | append: "'>" | append: mailadres | append: "</a>" %}

{% capture vrijwilligers_intro %}

<p>
    Onze vrijwilligers vormen het kloppende hart van AJOK en maken het mogelijk om onze kampen te 
    organiseren en de kinderen en jongeren de tijd van hun leven te geven. Ervaring of een 
    animatordiploma zijn niet vereist. Enthousiasme, een hart voor kinderen en een open blik vinden 
    we des te belangrijker! Er zijn verschillende functies waarin je je als vrijwilliger kan inzetten 
    tijdens onze kampen:
<ul>
    {% for item in site.data.kampfuncties %}
        <li><a href="#{{ item.naam }}">{{ item.naam }}</a></li>
    {% endfor %}
</ul> 

Benieuwd welke functie jou op het lijf geschreven is?  Zin en tijd om je handen uit de mouwen te 
steken en samen te werken met onze andere enthousiaste vrijwilligers? Lees hieronder dan zeker 
verder. Samen maken we het verschil! 
</p>
{% endcapture %}

{% include section.html 
    title="Vrijwilliger worden?"
    text=vrijwilligers_intro %}


{% for item in site.data.kampfuncties %}

    {% assign type = 'left' %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}
        {% assign type = 'right' %}
    {% endif %}

    {% if type == 'left' %}
        {% include section-img-left.html
            title=item.naam
            text=item.text
            img=item.img
            img_mobile=item.img_mobile %}
    {% else %}
        {% include section-img-right.html
            title=item.naam
            text=item.text
            img=item.img
            img_mobile=item.img_mobile %}
    {% endif %}

  {% endfor %}


{% capture hoe_text %}
Ben je overtuigd door een van de bovenstaande functies, ben je minimaal 18 jaar oud en kan 
je niet wachten om samen met ons en de kinderen op kamp te vertrekken? Schrijf je dan snel in 
via de onderstaande link en maak samen met ons het verschil!
</br></br>
Ben je jonger dan 18 jaar en heb je toch interesse? Neem dan even coctact met ons op via 
{{ mail }}.
</br></br>
<a href='{{ form_pasen }}' class='btn btn-success'>Meld je aan voor het paaskamp!</a></br>
<a href='{{ form_zomer }}' class='btn btn-success'>Meld je aan voor een zomerkamp!</a></br>
<a href='{{ form_herfst }}' class='btn btn-success'>Meld je aan voor het herfstkamp!</a>
{% endcapture %}

{% include section-img-left.html
    title="Hoe word ik vrijwilliger?"
    text=hoe_text
    img="assets/images/vrijwilligers/vrijwilliger-worden-desktop.webp"
    img_mobile="assets/images/vrijwilligers/vrijwilliger-worden-mobile.webp"
 %}


{% capture twijfel_text %}
Als vrijwilliger moet je voor het kamp nog heel wat voorbereidingen doen en na het kamp de opkuis en afsluit doen. Daarom starten we vaak één of twee dagen voor de jongeren komen en eindigen we één dag later.

<ul>
{% for item in site.data.kampen %}
    <li>{{ item.name }}: {{ item.datum_vrijwilligers }}</li>
{% endfor %}
</ul>
{% endcapture %}

{% include section-img-right.html
    title="Kampdata voor vrijwilligers"
    text=twijfel_text
    img="assets\images\vrijwilligers\kampdata-desktop.jpg"
    img_mobile="assets\images\vrijwilligers\kampdata-mobile.jpg" %}
 


{% capture twijfel_text %}
Wil je misschien met ons mee op kamp als vrijwilliger, maar wil je nog wat meer info of uitleg? Dan kan je via Whatsapp een berichtje sturen naar {{ site.data.whatsapp.naam }}, 
<span class='phone-number' data-obfuscated-number='{{ site.data.whatsapp.gsm | plus: 9876543210 }}' data-offset='9876543210'>
    **********
</span>. Zij is onze {{ site.data.whatsapp.functie }} en beantwoordt graag al je vragen!<br><br>
<button id='toggle-number' class='btn btn-danger'>Toon gsm-nummer</button>
{% endcapture %}

{% include section-img-left.html
    title="Twijfel je nog?"
    text=twijfel_text
    img="assets\images\vrijwilligers\twijfel-je-nog.jpeg"
    img_mobile="assets\images\vrijwilligers\twijfel-je-nog-mobile.jpeg" %}


<script>
document.addEventListener("DOMContentLoaded", function () {
    const toggleButton = document.getElementById("toggle-number");
    const phoneNumberElement = document.querySelector(".phone-number");

    toggleButton.addEventListener("click", function () {
        const obfuscatedNumber = parseInt(phoneNumberElement.dataset.obfuscatedNumber, 10);
        const offset = parseInt(phoneNumberElement.dataset.offset, 10);

        if (toggleButton.textContent === "Toon gsm-nummer") {
            // Reveal the full number
            const fullNumber = obfuscatedNumber - offset; // Calculate the real number
            phoneNumberElement.innerHTML = `<a href="tel:${fullNumber}" class="phone-link">0${fullNumber}</a>`;
            toggleButton.textContent = "Kopieer gsm-nummer";
        } else if (toggleButton.textContent === "Kopieer gsm-nummer") {
            // Copy the number to the clipboard
            const fullNumber = phoneNumberElement.textContent;
            navigator.clipboard.writeText(fullNumber).then(() => {
                alert(`GSM-nummer ${fullNumber} gekopieerd naar klembord!`);
            }).catch(err => {
                console.error("Fout bij het kopiëren naar het klembord: ", err);
            });
        }
    });
});
</script>
