---
layout: default
title: "Vrijwilligers"
---

{% include section.html 
    title="Word nu vrijwilliger!"
    text="<p>
        Vrijwilligers worden bij AJOK met open armen ontvangen. Er zijn verschillende functies waarin je als
        vrijwilliger actief kan zijn: van verzorgend personeel tot leidinggevend personeel. Sommige functies vereisen
        specifieke kennis, andere vragen enkel enthousiasme en betrokkenheid. Interesse? Klik op onderstaande
        knop en ontdek welke jou op het lijf geschreven is!

        Er gaan maximum 18 kinderen mee per kamp, we rekenen een animator per drie kinderen en hanteren een
        vaste structuur en duidelijke regels. Als vrijwilliger is het dus belangrijk dat je deze goed onder de knie hebt.
        We leggen deze en de activiteiten die je als vrijwilliger mag organiseren daarom graag uit. Lees ze snel na
        via de volgende link!
   </p>
   
   <a href='#Vrijwilligerfuncties' class='btn btn-danger'>Vrijwilligerfuncties</a>
   <!-- <a href='#activiteiten' class='btn btn-danger'>Activiteiten</a> TODO : evt alsnog wat voorbeeld activiteiten toevoegen?  -->
   " %}



<div class="bg-orange p-5 scroll-animation" id="Vrijwilligerfuncties">
    <!-- <div class="container m-5"> -->
        <!-- <h2 id="Vrijwilligerfuncties" class="text-uppercase font-italic black-line-below">Vrijwilligerfuncties</h2> -->
        
        <div class="row justify-content-center">

            {% for item in site.data.kampfuncties %}
                {% include image-card.html 
                    label=item.naam
                    image=item.img_square  %}
            {% endfor %}
        </div>
    <!-- </div> -->
</div>


{% for item in site.data.kampfuncties %}

    {% assign type = 'right' %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 0 %}
        {% assign type = 'left' %}
    {% endif %}

    {% if type == 'left' %}
        {% include section-img-left.html
            title=item.naam
            text=item.text
            img=item.img
            img_mobile=item.img_mobile
            call_to_action="Meld je aan!"
            url="vrijwilligers-inschrijven.html" %}
    {% else %}
        {% include section-img-right.html
            title=item.naam
            text=item.text
            img=item.img
            img_mobile=item.img_mobile
            call_to_action="Meld je aan!"
            url="vrijwilligers-inschrijven.html" %}
    {% endif %}

  {% endfor %}

<!-- TODO: activiteitneop kamp, regels op kamp, evnementen, maak kennis met de vrijwilligers, hoe word ik vrijwilliger + op heel deze pagina is er veel te veel tekst (schrikt af) -> zien op te splitsen, irrelevante delen weghalen en/of tekstjes korter maken -->


{% capture getuigenissen_text %}
<div class="p-5">
        
        <div class="row scroll-animation">

            {% for item in site.data.vrijwilliger_getuigenissen %}
                {% include getuigenis.html 
                    label=item.name
                    image=item.img
                    getuigenis=item.getuigenis  %}
            {% endfor %}
        </div>
</div>
{% endcapture %}

{% include section.html 
    title="Getuigenissen van vrijwilligers"
    text=getuigenissen_text %}

{% include section-img-left.html
    title="Hoe word ik vrijwilliger?"
    text="Wil je mee op kamp? Schrijf je dan nu in! 
        Volg de onderstaande link en vul het inschrijvingsformulier in. 
        Je kiest een kamp en geeft je voorkeur van functie aan. 
        Als de functie waarvoor je je opgaf niet meer vrij is, 
        nemen we contact met je op en zoeken we samen naar een oplossing. "
    img="assets/images/vrijwilligers/vrijwilliger-worden-desktop.jpg"
    img_mobile="assets/images/vrijwilligers/vrijwilliger-worden-mobile.jpg"
    call_to_action="Meld je aan!"
    url="vrijwilligers-inschrijven.html" %}