{% assign locatie_obj = site.data.locaties | where: "id", include.locatie | first %}

{% assign form_item = site.data.forms | where: "id", include.form_id | first %}

{% capture camp_info %}
<div class='row'>
    <div class='col-md-6'>
        <h5>Wat kan je verwachten?</h5>
        <p>
            {{ include.description }}
        </p>
    </div>
    <div class='col-md-6'>
        <h5>Praktisch</h5>
        <p>
            <i class='fa fa-calendar'></i> Jongeren: {{ include.datum }}
            </br>
            <i class='fa fa-calendar'></i> Vrijwilligers: {{ include.datum_vrijwilligers }}
            </br>
            <i class='fa fa-euro-sign'></i> Thuiswonend: €{{ include.prijs_thuiswonend }} / Niet-thuiswonend: €{{ include.prijs_niet_thuiswonend }}
            </br>
            <i class='fa fa-user'></i> {{ include.leeftijd }}
            </br>
            <i class='fa fa-map-marker'></i> <a href="#{{ include.locatie }}">{{ locatie_obj.name }}</a> <!-- TODO: Klikbaar maken en effectieve naam --> 
        </p>
    </div>
</div>
{% endcapture %}


{% if include.type == 'left' %}
    {% include section-img-left.html
        title=include.title
        text=camp_info
        img=include.img
        img_mobile=include.img_mobile
        img_list=include.img_list
        img_list_mobile=include.img_list_mobile
        call_to_action="Schrijf je in!"
        call_to_action_disabled="Inschrijvingen nog gesloten"
        url=form_item.link %}
{% else %}
    {% include section-img-right.html
        title=include.title
        text=camp_info
        img=include.img
        img_mobile=include.img_mobile
        img_list=include.img_list
        img_list_mobile=include.img_list_mobile
        call_to_action="Schrijf je in!"
        call_to_action_disabled="Inschrijvingen nog gesloten"
        url=form_item.link %}
{% endif %}
