<div class='row'>
    <div class='col-md-6'>
        {% include contact-item.html 
            icon='fa-archive' 
            description='Lodewijk Van Berckenlaan 85</br>2600 Berchem'
            url='https://maps.app.goo.gl/e1benh1Sir4K5sLh8' %}
        {% include contact-item.html 
            icon='fa-envelope' 
            description='info@ajokvzw.be'
            url='mailto:info@ajokvzw.be' %}
        {% include contact-item.html
            icon='fa-phone'
            description='+32 496 393 776'
            url='tel:32 496 393 776' %}
    </div>
    <div class='col-md-6'>
        {% include contact-item.html 
            icon='fa-facebook' 
            description='AJOKVZW op Facebook'
            url='https://www.facebook.com/ajokvzw' %}
        {% include contact-item.html
            icon='fa-instagram'
            description='AJOKVZW op Instagram'
            url='https://www.instagram.com/ajokvzw/' %}
        {% include contact-item.html
            icon='fa-twitter'
            description='AJOK VZW op Twitter'
            url='https://twitter.com/ajokvzw' %}
    </div>
</div>