<footer class="bg-body-tertiary text-center bg-orange">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4" style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">

        {% for item in site.data.socials %}
            <!-- {{ item.name }} -->
            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-2"
                style="
                    background-color: {{ item.color }};
                    transform: rotate(45deg);
                    border: 5px solid white;
                    width: 40px; 
                    height: 40px;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 20%; /* Adds round corners */
                "
                href="{{ item.link }}"
                role="button"
            >
                <i class="{{ item.icon }}" style="transform: rotate(-45deg);"></i>
            </a>
        {% endfor %}
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © ???? - <script>document.write(new Date().getFullYear());</script> AJOK vzw
    </div>
    <!-- Copyright -->
</footer>
