{% assign rekeningnummer_item = site.data.contact | where: "name", "Rekeningnummer" | first %}
{% assign rekeningnummer = rekeningnummer_item.description %}

{% assign ondernemingsnummer_item = site.data.contact | where: "name", "Ondernemingsnummer" | first %}
{% assign ondernemingsnummer = ondernemingsnummer_item.description %}

<footer class="bg-body-tertiary text-center bg-orange">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4" style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">

        {% for item in site.data.contact %}
          {% if item.footer %}
              {% include socials-logo.html icon=item.icon color=item.color link=item.link %}
          {% endif %}
        {% endfor %}
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2007 - <script>document.write(new Date().getFullYear());</script> AJOK vzw  - KBO BE {{ ondernemingsnummer }} - IBAN {{ rekeningnummer }}
    </div>
    <!-- Copyright -->
</footer>
