{% assign form_item = site.data.forms | where: "name", include.title | first %}

{% capture text %}
Via onderstaande form kan je je inschrijven als vrijwilliger voor een van onze kampen. 
          Problemen met het formulier? Vul het dan in via <a href='{{ form_item.link }}' target='_blank' class="ajok-orange">deze link</a>.
{% if include.extra_info %}
<br>
{{ include.extra_info }}
{% endif %}
{% endcapture %}

{% include section.html 
    title=include.title
    text=text
   %}
  
  <div class="form-container">
    <iframe src="{{ form_item.link }}?embedded=true" width="640" height="{{ form_item.height | default: '1000' }}" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
  
  <style>
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  