<div class="container mt-5 d-flex justify-content-center homepage-banner">

    <div class="row align-items-center justify-content-center g-4">
        
        <img id="clouds" src="assets/images/artifacts/wolkjes.webp" loading="lazy"
        class="artifact-clouds-left" />

        <div class="col-12 col-md-4 mb-3 mb-md-0 mx-auto text-center z-1">
            <img src="assets/images/logo.webp" class="img-fluid" alt="AJOK logo" loading="lazy">
        </div>

        <div class="col-12 col-md-8">
            <div>
                <h1 class="display-1 d-inline-block">AJOK</h1>
                <span class="text-white">vzw</span>
            </div>
            <p class="lead">ALLE JONGEREN OP KAMP</p>
        </div>

        
        <img id="birds" src="assets/images/artifacts/vogeltjes.webp" loading="lazy"
        class="artifact-birds" />

    </div>
</div>