<div class="container mt-5 d-flex justify-content-center" style="padding-top: 50px; padding-bottom: 50px; position: relative;">

    <div class="row align-items-center justify-content-center g-4">
        
        <img id="clouds" src="assets/images/artifacts/wolkjes.png"
        style="position: absolute; top: 0px; left: -50px; height: 120px; width: auto; z-index: 0;" />

        <div class="col-12 col-md-4 mb-3 mb-md-0 mx-auto text-center" style="z-index: 1; ">
            <img src="assets/images/logo.webp" class="img-fluid" alt="AJOK logo">
        </div>

        <div class="col-12 col-md-8">
            <div>
                <h1 class="display-1" style="display: inline-block;">AJOK</h1>
                <span style="color: white;">vzw</span>
            </div>
            <p class="lead">ALLE JONGEREN OP KAMP</p>
        </div>

        
        <img id="birds" src="assets/images/vogeltjes.webp" 
        style="position: absolute; top: 0px; right: 0px; height: 120px; width: auto; z-index: 0;" />

    </div>
</div>