<div class="img-row-container scroll-animation">
    <div class="image-row">
        <img src="assets/images/img1.webp" class="img-fluid rounded fixed-height-img" alt="Image 1" loading="lazy">
        <img src="assets/images/img2.webp" class="img-fluid rounded fixed-height-img" alt="Image 2" loading="lazy">
        <img src="assets/images/img3.webp" class="img-fluid rounded fixed-height-img" alt="Image 3" loading="lazy">
        <img src="assets/images/steun-ons/peter-meter.webp" class="img-fluid rounded fixed-height-img" alt="Image 4" loading="lazy">
        <img src="assets/images/kampen/giga.webp" class="img-fluid rounded fixed-height-img" alt="Image 5" loading="lazy">
        <img src="assets/images/kampen/hecto.webp" class="img-fluid rounded fixed-height-img" alt="Image 6" loading="lazy">
        <img src="assets/images/kampen/pico.webp" class="img-fluid rounded fixed-height-img" alt="Image 7" loading="lazy">
        <img src="assets/images/over-ons/contact.webp" class="img-fluid rounded fixed-height-img" alt="Image 8" loading="lazy">
        <img src="assets/images/over-ons/visie.webp" class="img-fluid rounded fixed-height-img" alt="Image 9" loading="lazy">
        <img src="assets/images/over-ons/wie-zijn-we.webp" class="img-fluid rounded fixed-height-img" alt="Image 10" loading="lazy">

         <!-- Duplicate Images for Seamless Loop
         <img src="assets/images/img1.webp" class="img-fluid rounded fixed-height-img" alt="Image 1">
         <img src="assets/images/img2.webp" class="img-fluid rounded fixed-height-img" alt="Image 2">
         <img src="assets/images/img3.webp" class="img-fluid rounded fixed-height-img" alt="Image 3">
         <img src="assets/images/steun-ons/peter-meter.webp" class="img-fluid rounded fixed-height-img" alt="Image 4">
         <img src="assets/images/kampen/giga.webp" class="img-fluid rounded fixed-height-img" alt="Image 5">
         <img src="assets/images/kampen/hecto.webp" class="img-fluid rounded fixed-height-img" alt="Image 6">
         <img src="assets/images/kampen/pico.webp" class="img-fluid rounded fixed-height-img" alt="Image 7">
         <img src="assets/images/over-ons/contact.webp" class="img-fluid rounded fixed-height-img" alt="Image 8">
         <img src="assets/images/over-ons/visie.webp" class="img-fluid rounded fixed-height-img" alt="Image 9">
         <img src="assets/images/over-ons/wie-zijn-we.webp" class="img-fluid rounded fixed-height-img" alt="Image 10"> -->
    </div>
</div>
