<div class="img-row-container scroll-animation">
    <div class="image-row">
        <img src="assets/images/img1.jpg" class="img-fluid rounded fixed-height-img" alt="Image 1">
        <img src="assets/images/img2.jpg" class="img-fluid rounded fixed-height-img" alt="Image 2">
        <img src="assets/images/img3.jpg" class="img-fluid rounded fixed-height-img" alt="Image 3">
        <img src="assets/images/steun-ons/peter-meter.jpg" class="img-fluid rounded fixed-height-img" alt="Image 4">
        <img src="assets/images/kampen/giga.jpg" class="img-fluid rounded fixed-height-img" alt="Image 5">
        <img src="assets/images/kampen/hecto.jpg" class="img-fluid rounded fixed-height-img" alt="Image 6">
        <img src="assets/images/kampen/pico.jpg" class="img-fluid rounded fixed-height-img" alt="Image 7">
        <img src="assets/images/over-ons/contact.jpg" class="img-fluid rounded fixed-height-img" alt="Image 8">
        <img src="assets/images/over-ons/visie.jpg" class="img-fluid rounded fixed-height-img" alt="Image 9">
        <img src="assets/images/over-ons/wie-zijn-we.jpg" class="img-fluid rounded fixed-height-img" alt="Image 10">

         <!-- Duplicate Images for Seamless Loop
         <img src="assets/images/img1.jpg" class="img-fluid rounded fixed-height-img" alt="Image 1">
         <img src="assets/images/img2.jpg" class="img-fluid rounded fixed-height-img" alt="Image 2">
         <img src="assets/images/img3.jpg" class="img-fluid rounded fixed-height-img" alt="Image 3">
         <img src="assets/images/steun-ons/peter-meter.jpg" class="img-fluid rounded fixed-height-img" alt="Image 4">
         <img src="assets/images/kampen/giga.jpg" class="img-fluid rounded fixed-height-img" alt="Image 5">
         <img src="assets/images/kampen/hecto.jpg" class="img-fluid rounded fixed-height-img" alt="Image 6">
         <img src="assets/images/kampen/pico.jpg" class="img-fluid rounded fixed-height-img" alt="Image 7">
         <img src="assets/images/over-ons/contact.jpg" class="img-fluid rounded fixed-height-img" alt="Image 8">
         <img src="assets/images/over-ons/visie.jpg" class="img-fluid rounded fixed-height-img" alt="Image 9">
         <img src="assets/images/over-ons/wie-zijn-we.jpg" class="img-fluid rounded fixed-height-img" alt="Image 10"> -->
    </div>
</div>
