{% capture info %}
{{ include.locatie.description }}<br><br>

<i class='fa fa-map-marker'></i> <a href="{{include.locatie.maps}}">{{ include.locatie.adres }}</a> 

{% endcapture %}

<!-- TODO? image mobile -->
{% if include.type == 'left' %}
    {% include section-img-left.html
        title=include.locatie.name
        id=include.locatie.id
        text=info
        img=include.locatie.img
    %}
{% else %}
    {% include section-img-right.html
        title=include.locatie.name
        id=include.locatie.id
        text=info
        img=include.locatie.img
    %}
{% endif %}
