<div class="row align-items-stretch mb-0 bg-primary  text-light" style="position: relative;"
    id="{{ include.id | default: include.title | strip }}">

    {% include section-img-mobile.html
        img=include.img
        img_list=include.img_list
        img_mobile=include.img_mobile
        img_list_mobile=include.img_list_mobile %}


    {% include section-img.html
        img_list=include.img_list
        img=include.img %}
    

    <div class="col-md-8 d-flex flex-column justify-content-center scroll-animation" style="padding: 50px; z-index: 1;">
        
        <!-- This empty div adds extra padding on desktop -->
        <div class="d-none d-md-block" style="height: 100px;"></div>

        {% include section-img-content.html
            title=include.title
            text=include.text
            call_to_action=include.call_to_action
            url=include.url %}

        <!-- This empty div adds extra padding on desktop -->
        <div class="d-none d-md-block" style="height: 100px;"></div>

    </div>

     <img id="tree" src="assets/images/artifacts/boompjes.webp" class="img-tree"
        style="position: absolute;right: -50px; z-index: 0; bottom: 0;" />

</div>