<div class="col-md-4 d-none d-md-block scroll-animation {% if include.img_list %}slideshow-container{% endif %}" style="padding: 0; position: relative; overflow: hidden;">
    {% if include.img_list %}
        {% for item in include.img_list %}
            {% if item %}
                <img src="{{ item }}" class="fade" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
            {% endif %}
        {% endfor %}
    {% else if include.img %}
         <img src="{{ include.img }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
    {% endif %}
</div>
