<div class="row align-items-center mb-0 bg-primary  text-light" style="position: relative; padding-right: 10%;">
    <div class="col-md-4">
        <img src="{{ include.img }}" class="img-fluid" style="max-height: 100%;">
    </div>
    <div class="col-md-8" style="padding: 50px;">
        <h2 class="text-uppercase text-light font-italic white-line-below">{{ include.title }}</h2>
        <p>{{ include.text }}</p>
        {% if include.call_to_action %}
            <a href="{{ include.url }}" class="btn btn-success">{{ include.call_to_action }}</a>
        {% endif %}
    </div>


    <img id="tree" src="/assets/images/boompjes.png"
    style="position: absolute; height: auto; width: 20%; right: -50px; z-index: 0; bottom: 0" />

</div>