<div class="row align-items-stretch mb-0 d-flex flex-wrap equal-height-row" id="{{ include.title | strip }}">

    {% if include.img_mobile %}
    <div class="col-12 d-md-none" style="width: 100%;">
        <img src="{{ include.img_mobile }}" class="img-fluid" style="object-fit: cover;">
    </div>
    {% endif %}

    <div class="col-md-8 scroll-animation" style="position: relative;"> 
        <div class="row" style="height: fit-content;">
            <div style="padding: 50px;">

                <!-- This empty div adds extra padding on desktop -->
                <div class="d-none d-md-block" style="height: 50px;"></div>

                <h2 class="text-uppercase font-italic black-line-below">{{ include.title }}</h2>
                <p>{{ include.text }}</p>
                {% if include.call_to_action %}
                <a href="{{ include.url }}" class="btn btn-success">{{ include.call_to_action }}</a>
                {% endif %}

                <!-- This empty div adds extra padding on desktop -->
                <div class="d-none d-md-block" style="height: 50px;"></div>
                
            </div>
        </div>
        <div class="row mt-auto">
            <img id="hills" src="assets/images/artifacts/heuveltjes.png" style="padding: 0; width: 100%;" />
        </div>
    </div>

    <div class="col-md-4 d-none d-md-block scroll-animation" style="padding-left: 0;">
        <div style="background-image: url('{{ include.img }}'); background-size: cover; background-position: center; height: 100%;"></div>
    </div>

</div>