.current {
  color: green;
}

.navbar-line {
  height: 15px; /* Adjust the height of the line */
  background-color: #def5ff; /* Change to your desired color */
}

.fixed-height-img {
  height: 150px; /* Set your desired fixed height */
  width: auto;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Set your desired gap between images */
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}
h2 {
  // color: #ffcc00;
  font-style: italic;
  text-transform: uppercase;
}
.btn {
  border-radius: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  width: fit-content;
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.text-warning {
  color: #ffcc00 !important;
}
.bg-orange {
  background-color: #ffcc00;
}


.camp-card {
  background-color: #F7B52C;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin: 15px;
}
.camp-card h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.camp-card p {
  margin: 0;
}


.white-line-below {
  border-bottom: 1px solid white; padding-bottom: 5px; width: fit-content;
}
.black-line-below {
  border-bottom: 1px solid black; padding-bottom: 5px; width: fit-content;
}