.current {
  color: green;
}

.navbar-line {
  height: 15px; /* Adjust the height of the line */
  background-color: #c5f1fe; /* Change to your desired color */
}

.nav-link {
  color: #fff;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
// img {
//   max-width: 100%;
//   height: auto;
// }

.row {
  overflow-x: hidden;
}

.fixed-height-img {
  height: 150px; /* Set your desired fixed height */
  width: auto;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Set your desired gap between images */
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #c5f1fe;
  overflow-x: hidden;
  width: 100%;
}
h2 {
  // color: #ffcc00;
  font-style: italic;
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: underline;
}
.btn {
  border-radius: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  width: fit-content;
  margin: 10px;
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-danger {
  background-color: #df6316;
}
.text-warning {
  color: #ffcc00 !important;
}
.bg-orange {
  background-color: #ffcc00;
}
.bg-orange-light {
  background-color: #ffde5a;
}


.camp-card {
  background-color: #F7B52C;
  border-style: solid;
  border-color: #fff;
  border-width: 12px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #000;
  // font-weight: bold;
  margin: 20px;
  cursor: pointer;
}

.camp-card h5 {
  font-size: 1.5rem;
  // margin-bottom: 10px;
}
.camp-card p {
  margin: 0;
}


.white-line-below {
  border-bottom: 1px solid white; padding-bottom: 5px; width: fit-content;
}
.black-line-below {
  border-bottom: 1px solid black; padding-bottom: 5px; width: fit-content;
}

.ajok-orange {
  color: #F7B52C;
}


.image-card-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.image-card {
  text-align: center;
  width: 200px; /* Adjust width as needed */
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-card p {
  margin-top: 10px;
  // font-weight: bold;
  word-wrap: break-word;
}
